{{>partials/header}}
<html>
<head>
    <meta charset="UTF-8" />
   <title>All QRCode</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<main>
    <section class="banner">
        <div class="sliders" style="margin-left:0;">
            <div class="slide">
                <div class="slidearea">
                    <h1>Cardápio<br/></h1>
                    <a href="index.html" class="button">Clique aqui!</a>
                </div>
    </section>

    


    <div class="container_column">
        <div class="banner_headline222">
            <h1>ONDE ENCONTRAR</h1>
        </div>
        <div class="banner_options">
        <div class="boxsomb">
            <div class="banner1">
                <div class="banner_title">Sao Paulo, SP</div>
                <div class="banner_desc">Rua da Glória, 498 - Sao Paulo - SP</div>
                <a href=""><img src="/assets/images/gmaps.png"></a>
            </div>
            <div class="banner2">
                <div class="banner_title">Belo Horizonte, MG</div>
                <div class="banner_desc">Av.Gávea, 680 - Belo Horizonte - MG</div>
                <a href=""><img src="/assets/images/gmaps.png"></a>
            </div>
            <div class="banner3">
                <div class="banner_title">Rio de Janeiro, RJ</div><br>
                <div class="banner_desc">Rua Gama, 524 - Rio de Janeiro - RJ </div>
                <a href=""><img src="/assets/images/gmaps.png"></a>
            </div>
        </div>
        </div>
    </div>


</main>
{{>partials/footer}}